.navbar{
  height: 15vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color:var(--navbar-background);
  flex-direction: row;
}
.header{
font-size: 2.7vw;
text-transform: uppercase;
margin-left:43vw ;
color: var(--navbar-header);
font-weight: bold;
}
.main-div{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: var(--maindiv-background);
}
.app{
  display: flex;
  flex-direction: row;
  color: var(--maindiv-color);
  height: 20vh;
  width: 15vw;
  font-size:larger;
  font-weight:bold;
}
.operators{
  cursor:pointer;
}

.light-theme{
--navbar-background:#242333;
--navbar-header:#FFFFFF;
--maindiv-background:#01B0D3;
--maindiv-color:#242333;
}
.dark-theme{
  --navbar-background:#0c0e0f;
  --navbar-header:#FFFFFF;
  --maindiv-background:#242333;
  --maindiv-color:#FFFFFF;
}